{% extends "base.html" %}

{% block title %}Edit Workout{% endblock %}

{% block main %}
<div class="container" id="workoutinfo">
    <!-- top row wrapper - workout info & delete workout button -->
    <div>
        <!-- workout info -->
        <div>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="border: none;">Date: {{ workout_info[0].date }}</li>
                <li class="list-group-item" style="border: none;">Start: {{ workout_info[0].start_time }}</li>
                <li class="list-group-item" style="border: none;">End: {{ workout_info[0].end_time }}</li>
                <button type="button" class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#update-form" aria-expanded="false" aria-controls="row">
                    <!-- Pencil square symbol -->
                    <i class="bi bi-pencil-square"></i>
                </button>
            </ul>
        </div>

        <!-- hidden input form - workout info -->
        <div class="row collapse" id="update-form">
            <form action="/editworkout" method="post" class="#" id="editworkout-form" autocomplete="off">
                <label class="form-label" for="editworkout-date">Date</label>
                <input type="date" class="form-control-sm" name="editworkout-date" id="editworkout-date" value="{{ workout_info[0].date }}">
                <label class="form-label" for="editworkout-start-time">Start</label>
                <input type="time" class="form-control-sm" name="editworkout-start-time" id="editworkout-start-time" value="{{ workout_info[0].start_time }}">
                <label class="form-label" for="editworkout-end-time">End</label>
                <input type="time" class="form-control-sm" name="editworkout-end-time" id="editworkout-end-time" value="{{ workout_info[0].end_time }}">
                <button type="submit" form="editworkout-form" class="btn btn-success">
                    <!-- Check symbol -->
                    <i class="bi bi-check"></i>
                </button>
            </form>
        </div>
    </div>

    <!-- delete workout button -->
    <div>
        <form action="/" method="post" id="delete-workout{{ workout_info[0].id }}" onsubmit="return confirm('Irreversibly delete workout?')">
            <input type="hidden" name="delete-workout-id" form="delete-workout{{ workout_info[0].id }}" value="{{ workout_info[0].id }}">
            <button type="submit" form="delete-workout{{ workout_info[0].id }}" class="btn btn-success">Delete Workout</button>
        </form>
    </div>
</div>

<!-- note feature wrapper -->
<div>
    <!-- note wrapper -->
    <div>
        {% if workout_info[0].note == '' %}
        <!-- display add note button, if there are no notes -->
            <form action="" method="post" id="">
                <input type="" name="" form="">
                <button type="submit" form="" class=""></button>
            </form>
        {% else %}
        <!-- display notes with edit note button, if there are notes -->
            <div>Notes</div>
            <p>{{ workout_info[0].note }}</p>
        {% endif %}
    </div>
    <!-- hidden note input form -->
    <div>

    </div>
    <!-- add/edit note button -->
    <div>
        
    </div>
</div>


<div class="container">
    <!-- set input form -->
    <form action="/editworkout" method="post" class="#" id="add-set" autocomplete="off">
        <div class="row row-cols-5">
            <!-- exercise -->
            <div class="col">
                <label for="exercise" class="form-label">Exercise</label>
                <input type="text" class="form-control text-center" name="exercise" id="exercise" form="add-set">
                <!-- autocomplete list for exercise input box -->
                <ul id="exercise-list"></ul>
            </div>
            <!-- set -->
            <div class="col">
                <label for="set" class="form-label">Set</label>
                <input type="number" class="form-control text-center" name="set" id="set" form="add-set">
            </div>
            <!-- reps -->
            <div class="col">
                <label for="reps" class="form-label">Reps</label>
                <input type="number" class="form-control text-center" name="reps" id="reps" form="add-set">
            </div>
            <!-- weight (kg) -->
            <div class="col">
                <label for="weight" class="form-label">Weight(KG)</label>
                <input type="number" class="form-control text-center" name="weight" id="weight" form="add-set">
            </div>
            <!-- add button -->
            <div class="col d-flex justify-content-center">
                <button type="submit" class="btn btn-success align-self-center" form="add-set">
                    <!-- Plus symbol -->
                    <i class="bi bi-plus"></i>
                </button>
            </div>
        </div>

    </form>

        <!-- exercise list -->
        <table class="table" id="current-workout-table">
            <!-- for loop to insert workout data -->
            <th></th>
            <tbody>
                {% for exercise in workout_exercises %}
                    <tr>
                        <th>{{ exercise.title() }}</th>
                    </tr>
                    <tr>
                        <td>Set</td>
                        <td>Reps</td>
                        <td>Weight (KG)</td>
                    </tr>
                    {% for set in sets %}
                        {% if exercise == set.name %}
                            <tr>
                                <td>{{ set.exercise_set }}</td>
                                <td>{{ set.reps }}</td>
                                <td>{{ set.weight_kg }}</td>
                                <td>
                                    <form action="/editworkout" method="post" onsubmit="return confirm('Delete the exercise set?')" id="delete{{ set.user_id }}{{ set.workout_id }}{{ set.exercise_id }}{{ set.exercise_set }}">
                                        <input type="hidden" form="delete{{ set.user_id }}{{ set.workout_id }}{{ set.exercise_id }}{{ set.exercise_set }}" name="delete-user-id" value="{{ set.user_id }}">
                                        <input type="hidden" form="delete{{ set.user_id }}{{ set.workout_id }}{{ set.exercise_id }}{{ set.exercise_set }}" name="delete-workout-id" value="{{ set.workout_id }}">
                                        <input type="hidden" form="delete{{ set.user_id }}{{ set.workout_id }}{{ set.exercise_id }}{{ set.exercise_set }}" name="delete-exercise-id" value="{{ set.exercise_id }}">
                                        <input type="hidden" form="delete{{ set.user_id }}{{ set.workout_id }}{{ set.exercise_id }}{{ set.exercise_set }}" name="delete-exercise-set" value="{{ set.exercise_set }}">
                                        
                                        <button type="submit" form="delete{{ set.user_id }}{{ set.workout_id }}{{ set.exercise_id }}{{ set.exercise_set }}" class="btn btn-success btn-sm">
                                            <!-- X-symbol -->
                                            <i class="bi bi-x"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <!-- WIP: "Add a set" button -->
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}

