{% extends "base.html" %}

{% block title %}{{ session["user_name"] }}'s Profile{% endblock %}

{% block main %}
<!-- profile info -->
<div class="container w-25">
    <table class="table table-sm">
        <tbody>
            <tr>
                <td>User ID:</td>
                <td>{{ profile_data.id }}</td>
            </tr>
            <tr>
                <td>Member since:</td>
                <td>{{ profile_data.member_since }}</td>
            </tr>
            <tr>
                <td>Username:</td>
                <td>{{ profile_data.username }}</td>
            </tr>
            <tr>
                <td>First name:</td>
                <td>{{ profile_data.first_name }}</td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td>{{ profile_data.last_name }}</td>
            </tr>
            <tr>
                <td>Date of birth:</td>
                <td>{{ profile_data.date_of_birth }}</td>
            </tr>
            <tr>
                <td>Height(CM):</td>
                <td>{{ profile_data.height_cm }}</td>
            </tr>
            <tr>
                <td>Weight(KG):</td>
                <td>{{ profile_data.weight_kg }}</td>
            </tr>
            <tr>
                <td>Weight Unit:</td>
                <td>
                    {% if profile_data.weight_unit == "kg" %}
                        <form action="/profile" method="post" id="kg_form">
                            <input type="hidden" form="kg_form" name="kg" value="kg">
                            <button type="submit" form="kg_form" disabled>KG</button>
                        </form>
                        <form action="/profile" method="post" id="lbs_form">
                            <input type="hidden" form="lbs_form" name="lbs" value="lbs">
                            <button type="submit" form="lbs_form">LBS</button>
                        </form>
                    {% else %}
                        <form action="/profile" method="post" id="kg_form">
                            <input type="hidden" form="kg_form" name="kg" value="kg">
                            <button type="submit" form="kg_form">KG</button>
                        </form>
                        <form action="/profile" method="post" id="lbs_form">
                            <input type="hidden" form="lbs_form" name="lbs" value="lbs">
                            <button type="submit" form="lbs_form" disabled>LBS</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- change measurement units -->
<!-- (kg - lbs, 24 hour system - 12 hour system) -->
<div>
    <!-- kg - lbs -->
    <form>

    </form>
</div>
<!-- buttons -->
<div class="container">
        <button type="button" class="btn btn-success" onclick="history.back()">Back</button>
        <a href="/editprofile" class="btn btn-success">Edit Profile</a>
        <a href="/changepassword" class="btn btn-success">Change Password</a>
</div>
{% endblock %}