{% extends "base.html" %}

{% block title %}Analytics{% endblock%}

{% block main %}

<!-- plotly test -->
<div class="test-line-graph">
    {{ plotly_jinja_data.fig_weight_progression | safe }}
</div>
<div class="test-pie-chart">
    {{ plotly_jinja_data.fig_muscle_group_pie | safe }}
</div>
<div class="test-horizontal-bar-chart-1">
    {{ plotly_jinja_data.hbar_chart_exercises_by_sets | safe }}
</div>
<div class="test-horizontal-bar-chart-2">
    {{ plotly_jinja_data.hbar_chart_exercises_by_weight | safe }}
</div>
{% endblock %}