{% extends "base.html" %}

{% block title %}Analytics{% endblock%}

{% block main %}

<!-- plotly graphs -->
<!-- move to bottom -->

<div class="line-graph">
    <form action="workoutanalytics" method="post" id="line-graph-form">
        <select name="select-muscle-group" form="line-graph-form" onchange="this.form.submit()">
            
            {% for i in plotly_jinja_data.set_muscle_group %}
                {% if i == "" %}
                    <option value="">--Select muscle group--</option>
                {% else %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </form>
    {{ plotly_jinja_data.fig_weight_progression | safe }}
</div>
<div class="pie-chart">
    {{ plotly_jinja_data.fig_muscle_group_pie | safe }}
</div>
<div class="horizontal-bar-chart-1">
    {{ plotly_jinja_data.hbar_chart_exercises_by_sets | safe }}
</div>
<div class="horizontal-bar-chart-2">
    {{ plotly_jinja_data.hbar_chart_exercises_by_weight | safe }}
</div>
{% endblock %}