{% extends "base.html" %}

{% block title %}Create Workout{% endblock %}

{% block main %}
<div class="container">
    <form action="/createworkout" method="post" class="row g-2 justify-content-center">
        <div class="col-2 form-floating">
            <input type="date" class="form-control text-center" name="date" id="date">
            <label for="date" class="form-label">Date</label>
        </div>
        <div class="col-2 form-floating">
            <input type="time" class="form-control text-center" name="start-time" id="start-time">
            <label for="start-time" class="form-label">Start</label>
        </div>
        <div>
            <button type="button" class="btn btn-success" onclick="history.back()">Back</button>
            <button type="submit" class="btn btn-success">Create Workout</button>
        </div>
    </form>
</div>
{% endblock %}